/* color variables */
$primary-green: #63C132;
$secondary-green: #036016;
$accent-brown: #D9C5B2;
$accent-gray: #7E7F83;
$white: #FFFFFF;
$black: #071013;

/* Font variables */
$logo-font-family: "Angkor", serif;


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: $white;
}

nav {
  width: 100vw;
  position: sticky;
  top: 0;
  background-color: $primary-green;
  color: $white;

  .hidden {
    display: none;
  }

  .navbar-brand {
    font-family: $logo-font-family;
    font-weight: 400;
    font-style: normal;
    color: $white;

    i {
      font-size: 30px;
    }
  }

  .nav-link {
    color: $white;
  }
}

.navbar {
  position:fixed;
  color: $white;

  .navbar-toggler {
    border: 2px solid $white;
  }

  .fa-solid {
    color: $white;
  }
}

.navbar-collapse {
  justify-content: flex-end;
}

.me-auto {
  margin-right: 0 !important;
}

main {

  margin-top: 100px;


    .card {
      margin-top: 2vh;
      position: static;
    }

}
