#section-user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .user-profile {
    background-color: var(--white);
    border-radius: 0.5em;
    width: 50vw;
    border: thin solid var(--secondary-green);
  }

  h2 {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;

    .btn {
      margin: 1em;
    }
  }

  i {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  #profile-data {
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    align-items: center;

    h3 {
      margin-bottom: 0;
      padding: 0.5rem;
      font-size: large;
    }

    p {
      font-size: medium;
      border: thin solid var(--accent-gray);
      border-bottom: 0;
      border-left: 0;
      border-right: 0;
      margin-top: 0
    }
  }

  .buttons {
    margin-top: 1rem;

    button {
      min-width: fit-content;
      width: 10vw;
    }
  }

  footer {
    font-size: 16rem;
  }

  #update-profile-form {
    background-color: var(--white);
    border-radius: 0.5em;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border: thin solid var(--secondary-green);

    div.mb-3 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      input {
        width: 100%;

      }

    }
  }

  label {
    min-width: 20vw;
  }

  #delete-profile-form {
    background-color: var(--white);
    border-radius: 0.5em;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border: thin solid var(--secondary-green);
    text-align: center;

    h2 {
      color: var(--light-red);
      padding: 0.5rem;
      display: flex;
      justify-content: center;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;

      button {
        width: 8rem;
        // height: 3rem;
        margin: 0.5rem;
        text-wrap: balance
      }
    }
  }
}

#section-login-page {

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 0.5em;
    width: 60vw;
    border: thin solid var(--secondary-green);

    h2 {
      margin: 1rem;
    }

    button {
      width: 10rem;
      height: 3rem;
      font-size: large;
    }

    input {
      width: 35vw;
    }

  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;

    i {
      margin-top: 2rem;
      font-size: 10rem;
    }
  }
}

#section-registration-page {

  form {
    border: thin solid var(--secondary-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 0.5em;
    width: 60vw;

    h2 {
      margin: 1rem;
    }

    button {
      width: 10rem;
      height: 3rem;
      font-size: large;
    }

    input {
      width: 35vw;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    i {
      margin-top: 2rem;
      font-size: 10rem;
    }
  }
}

#section-edit-resource {
  form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--white);
    border-radius: 0.5em;
    width: 60vw;
    border: thin solid var(--secondary-green);

    input {
      resize: horizontal;
      width: 50vw;
    }

    textarea {
      width: 50vw;
      text-wrap: balance;
    }

    #description-field {
      min-height: 10vw;
    }

    .form-select {
      margin: 0.5rem;
      width: 50vw;
    }

    footer {
      button {
        width: 10rem;
        height: 3rem;
        font-size: large;
        margin-top: 2rem;
      }
    }
  }
}

#section-delete-resource {

  form {
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--white);
    border-radius: 0.5em;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: thin solid var(--secondary-green);
  }

  h2 {
    color: var(--light-red);
    margin: 1rem;
    margin-bottom: 2rem;
  }

  p {
    align-self: center;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    button {
      width: 8rem;
      height: 3rem;
      margin: 0.5rem;
    }




  }
}
