
.card {
  width: 90vw;
  min-width: 400px;
  max-width: 1200px;
  border: thin solid var(--accent-gray);
  border-radius: 7px;
  // background-color: var(--resource-background);



  section {
    display: flex;
    flex-direction: row;


    // margin:0.5em;

    aside {
      width: 10vw;
      margin: 1vw;
      display: flex;
      border-radius:0.1em;
      justify-content: center;
      align-items: center;
      font-size: clamp(0.5rem, 10vw, 20vw);
      border: medium solid var(--black);

      background-color: var(--secondary-green)
    }

    #card-text {
      display: flex;
      flex-direction: column;
      flex-grow: 9;
      max-width: 90%;

      header {
        display: flex;
        flex-direction: column;


        .card-title {
          align-self: center;
        }
      }

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        h3, time {
          color: var(--accent-gray);
          align-self: center;
          margin: 0;
          padding-bottom:1vw;
          padding-left: 1vw;
          padding-right: 1vw;
          font-size:medium
        }
      }
    }

    p {
      padding: 1vw;
    }

    footer {
      display: flex;
      justify-content: space-between;
      align-content: flex-end;
      border: solid var(--accent-gray);
      border-bottom: 0;
      border-left: 0;
      border-right: 0;
      border-width: .05em;

      .resource-category {
        color: var(--accent-gray);
      }


      i {
        padding: .4vw;
        font-size: 2rem;
      }
    }
  }
}

#modify-resource-buttons {
  display: flex;
  justify-content: space-around;
  margin: 10px;

  .hidden {
    display: none;
  }

  button {
    width: 30vw;
    height: 4em;
    font-size: 1em;

  }
}

#rating-stars {
  display: flex;
  flex-direction: column;
  padding: 10px;

  h3 {
    align-self: center;
  }

  ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 0;

    li {
      padding: .25em;
      font-size: 2em;
    }
  }

}

#rating-stars.hidden {
  display: none;
}

#new-comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  textarea {
    overflow: auto;
    resize: none;
    width: 100%;
    min-height: 10vh;
    max-height: 100vh;

  }

  .btn {
    align-self: flex-end;
    width: 30vw;
    height: 4em;
    font-size: 1em;
    margin: .5em;
    margin-right: 0;
  }
}

.comment {
  background-color: var(--secondary-green);
  border-radius: 1em;
  margin: 0.5em;
  padding: .25em;
  min-width: 400px;
  max-width: 1200px;


  .comment-message {
    background-color: var(--white);
    border-radius: 2rem 0.9rem 0 0;
    margin: 0;
    padding: 1rem;
    text-wrap: pretty;
    word-break: break-word;
  }

  footer {
    color: var(--accent-gray);
    border-radius: 0 0 0.9rem 0.9em;
    background-color: var(--white);
    font-size: small;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-left:  1rem;
    padding-right:  1rem;
    padding-bottom: 0.5rem;
  }

}


#section-single-resource {
  :hover {
    box-shadow:none;
    transform: none;
  }
}

#all-resources h1 {
  display: flex;
  justify-content: center;
  font-family: var(--h1-font-family);
  font-weight: 700;
  // text-shadow: 2px 2px var(--accent-gray);
  padding-bottom: 30px;
}

#section-user-resources h1 {
  display: flex;
  justify-content: center;
  font-family: var(--h1-font-family);
  font-weight: 700;
  // text-shadow: 2px 2px var(--accent-gray);
  padding-bottom: 30px;
}

#section-add-new-resource {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-resource-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 0.5em;
  width: 60vw;
  border: thin solid var(--secondary-green);
  padding: 1.5em;

  input {
    resize: horizontal;
    width: 50vw;
  }

  textarea {
    width: 50vw;
    text-wrap: balance;
  }

  #description-field {
    min-height: 10vw;
  }

  .form-select {
    margin: 0.5rem;
    width: 50vw;
  }

    h2 {
      padding-bottom: 1em;
    }

    .form-select {
      width: 20vw;
      margin-bottom: 1em;
    }

    .add-resource-buttons {
      display: flex;
      flex-direction: row;

      .new-button {
        margin: 0.5em;
      }
    }
}
