/* color variables */
:root {
  --primary-green: #63C132;
  --secondary-green: #036016;
  --accent-brown: #D9C5B2;
  --accent-gray: #7E7F83;
  --white: #FFFFFF;
  --black: #071013;
  --dark-red: #C90404;
  --light-red: #FF0000;
  --gold: #FFDC00;
  --secondary-brown: #BFA083;
  --resource-background: #F6ECE3;


  --logo-font-family: "Angkor", serif;
  --h1-font-family: "Roboto Slab", serif;
}
