/* color variables */
:root {
  --primary-green: #63C132;
  --secondary-green: #036016;
  --accent-brown: #D9C5B2;
  --accent-gray: #7E7F83;
  --white: #FFFFFF;
  --black: #071013;
  --dark-red: #C90404;
  --light-red: #FF0000;

  --logo-font-family: "Angkor", serif;
}
